/*Homepage*/

  .dropdown-menu{
  height:21em;width:1000px;z-index:999;display: none; }



li,ul{

  list-style-type: none;text-decoration: none;
}


.dropdown-menu{background-color:white;};

.dropdown-menu  li  {
  color:black;padding-bottom: 500px;
}
.dropdown-menu li a:active {
  color:black;
  list-style-type: none;text-decoration: none;
}
.dropdown-menu li a:link {
  color:black;
  list-style-type: none;text-decoration: none;
}
.dropdown-menu li a:visited {
  color:black;
  list-style-type: none;text-decoration: none;
}
.dropdown-menu li a:hover {
  padding-left: 1em;
  list-style-type: none;text-decoration: none;color:black;
}


.navbar-collapse{

  font-size: 12px;
}


section.d2{
  margin-top: -1.4em;position: relative; height: 35em;
}
video.d2{

   width: 100%;
    height:100%;
    -ms-object-fit: fill;
    -webkit-object-fit: fill;
    -moz-object-fit: fill;
    -o-object-fit: fill;
    object-fit: fill;

}
.no-objectfit > video.d2{
  display: none;
}
.glyphicon-chevron-right{
  color: rgb(210,220,180);
}

    li.dropdown:hover .dropdown-menu{
    display: inline-block;
  }

.dm1{
  margin-left:-85%;
}
.dm2{

margin-left:-166.5%;
}
.dm3{

margin-left:-330.5%;
}
.dm4{


margin-left:-466%;
}
.dm5{


margin-left:-465%;
}
.dm6{


margin-left:-789%;
}


  .d1{
    width:30%;height: 20em;float: left;box-sizing: border-box;   box-shadow: 7px 6px 13px 0px #617b90;
    
  }
  .d1Links li , .d1Links1 li , .d1Links2 li  ,.d1Links22 li {
    padding-bottom: .6em;
  }
 
  .d1Header{
   
font-size:14.5px;color:black;font-family: verdana;font-weight: 500;letter-spacing: 1px;
  }
  .divd1header{
    float: none;text-align: center;margin-top: 10px;margin-bottom: 35px;border-bottom: .5px solid lightgrey;padding-bottom: 15px;

  }
  .divd1header1{
    float: none;text-align: left;margin-top: 10px;margin-bottom: 35px;border-bottom: .5px solid lightgrey;padding-bottom: 15px;padding-left:5%;

  }
   .divd1header2{
    float: none;text-align: left;margin-top: 10px;margin-bottom: 20px;border-bottom: .5px solid lightgrey;padding-bottom: 15px;padding-left:5%;

  }
 
 .links{
  width: 63%;box-sizing: border-box;float: left;margin-left: 2%;margin-right: 2%;background-color: white; }

 .links1{
  width: 31%;box-sizing: border-box;float: left;margin-left: 2%;margin-right: 2%;background-color: white; }
  
 .links2{
  width: 31%;box-sizing: border-box;float: left;margin-left: 2%;margin-right: 2%;background-color: white; }

 .links11{
  width: 19.33%;box-sizing: border-box;float: left;margin-left: 2%;margin-right: 2%;background-color: white; }

  .d1Links1{
    text-align: left;float: left;width: 100%;padding-left:5%;box-sizing: border-box;
  }
  .d1Links2{
    text-align: left;float: left;width: 100%;padding-left:5%;box-sizing: border-box;
  }
  .d1Links{
    text-align: left;float: left;width: 50%;padding-left:5%;box-sizing: border-box;
  }
.d1Links22{
    text-align: left;float: left;width: 100%;padding-left:5%;box-sizing: border-box;
  }

   .d1Links li , .d1Links1 li , .d1Links2 li  , .d1Links22 li {

    font-size: 13.5px;font-weight: 400;font-family:verdana;
  }

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.drop-header{
  height: 17em;
}
.drop-footer{
  width: 63%;box-sizing: border-box;float: left;margin-left: 2%;margin-right: 2%;background-color: white;border-top: .5px  solid lightgrey;padding-top: 15px;text-align: center;
cursor: pointer;}
.drop-footer span:hover{
  color:teal;
}
.drop-footer span{
font-size:13.5px;color:black;font-family: verdana;font-weight: 500;letter-spacing: 1px;
}
body{
overflow-x: hidden;
}
.f{
    position: absolute;left: 55%;top: 7%;right:7%;background-color: hsla(100,50%,15%,0.2);box-sizing:content-box;padding:2em;padding: 8em 2em;padding-bottom: 6em;
  }
  button.d2{
    margin-top: .5em;
  }
  .d2f{
    position: absolute;top:10%;
  }

.t{
  position: absolute;left: 10%;top:20%;color:hsla(114,96%,99%,1); 
}

.slidet{
  font-size: 16px; font-family:cursive;  letter-spacing: 2px; font-variant:small-caps;}

.slidet1{
  font-size: 26px; font-family:cursive;  letter-spacing: 2px; font-variant:small-caps;color:hsla(114,96%,99%,1); }


.slidet2{
  font-size: 26px; font-family:verdana;  letter-spacing: 2px; font-variant:small-caps;color:hsla(114,96%,99%,1); font-weight: 500;}

.navbar-right{
  padding-right: 20px;
}

section.d3{
  margin-top:100px;padding-bottom: 70px;height: 21em;
}
ul.d3{
  position: static;
  width: 10%;padding-left: 0%;float: left;height:250px;
}

ul.d3 li {
padding-top: 25px;padding-bottom: 20px;padding-right:10px;height: 25%;
transition-property:width;transition-duration: .5s;width: 40%;
}
ul.d3 li a{
  text-decoration: none;list-style-type: none;
}

li.d3f{
background-color:#3b5998;
}
li.d3t{
background-color:#00aced;
}
li.d3g{
  background-color:#dd4b39;
}
li.d3r{
  background-color: #fb8f3d;
}
ul.d3 li:hover{
  width: 70%;
}
  span.d3{
color:black;font-family:arial;font-weight:700;letter-spacing: 3px;font-size: 22px;
  }
.icon-facebook1{
font-size: 25px;color: white;float: right;
}
.icon-google-plus1{
font-size: 25px;color: white;float: right;
}
.icon-rss1{
font-size: 25px;color: white;float: right;
}
.icon-twitter1{
  font-size: 25px;color: white;float: right;
}

  div.d3{
   position:static;width: 55%;margin-left: 2%;padding-bottom: 40px;float: left;
  }
p.d3a{
padding-top: 20px;

}
  p.d3{
    font-family:verdana;color:slategrey;font-size:15px;
  }
  img.d3{
  position: static;width: 25%;margin-left: 5%;margin-right: 3%;max-height: 100%;
  }

 section.d4{
 width:100%;margin-top:70px;position: static;
}

  h4.d4{
  
color:white;font-family:arial;font-weight:500;letter-spacing: 1px;font-size: 24px;
  }
 
.d4f{
  width:33.3%;background-color:#95a5a6;padding-top: 54px;padding-left: 50px;padding-right: 40px;padding-bottom: 50px;float: left;height: 25.25em;
} 
.d4s{
  width:33.3%;background-color:#bdc3c7;padding-top: 54px;padding-left: 50px;padding-right: 40px;padding-bottom: 50px;float: left;height: 25.25em;
} 
.d4t{
  width:33.3%;background-color:#7f8c8d;padding-top: 54px;padding-left: 50px;padding-right: 40px;padding-bottom: 50px;display: inline-block;height: 25.25em;
} 
p.d4{

    font-family:verdana;color:white;font-size:15px;margin-top: 1em;
}
section.d5{

 width:100%;margin-top: 90px;position: static;height: 25em;
}
div.d5{
  width: 50%;float: left;padding-left:9%;
}
h3.d5{

color:black;font-family:arial;font-weight:700;letter-spacing: 3px;
}
p.d5{

    font-family:verdana;color:slategrey;font-size:15px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a >img 
{
  height:100%;width: 100%;border-radius: 20px;
  
}
.carousel{
  height:auto;right: 1%;left:5%;width: 35%;display: inline-block;padding-top:30px;
}

.d5-carousel-gly{
  color: black;float: right;font-size: 30px;margin-top:170px;margin-right: 60px;
}

section.d6{
background-color: hsla(190,10%,4%,1);position:static;margin-top: 100px;padding-left: 15%;padding-right: 15%;width: 100%;float: left;
}

h3.d6{color:rgb(210,220,180);font-size: 22px;letter-spacing: 1px;}
div.d6{
  padding-top: .5em;
}
.d6r{padding-bottom: .5em;}
.row{
  padding-top: .5em;
}

a.d6{
  list-style-type: none;text-decoration: none;
}
a.d6:active{
color:rgb(210,220,180);font-size: 15px;letter-spacing: 1px;
}
a.d6:link{
color:rgb(210,220,180);;font-size: 15px;letter-spacing: 1px;
}a.d6:visited{
color:rgb(210,220,180);;font-size: 15px;letter-spacing: 1px;
}
a.d6:hover{
padding-left: 5px;
}
.glyphicon-chevron-right{
  color: rgb(210,220,180);
}
footer.footer{
  width: 100%;background-color:hsla(190,10%,8%,1) ;margin-bottom: 0em;margin-top:20px;padding-bottom: 20px;float: none;padding-top: 10px;
}
p.footer{
  color: rgb(210,220,180);letter-spacing: 1px;margin: 0px auto;text-align: center;padding-bottom: 5px;
}
p.footer1{

color: rgb(210,220,180);letter-spacing: 1px;margin: 0px auto;text-align: center;padding-bottom: 5px;
}
p.footer2{

color: rgb(210,220,180);letter-spacing: 1px;margin: 0px auto;text-align: center;padding-bottom: 5px;
}
a.footer{
  list-style-type: none;text-decoration: none;
}

.modal-header{
text-align: center;font-size: 16px;font-family: verdana;
}

.login-form{
  width: 50%;float: left;box-sizing: border-box;padding: 5%;
}
.login-form1{
  width: 30%;display: inline-block;box-sizing: border-box;padding:5%;padding-left: 10%;
}
.icon-facebook2{
font-size: 45px;color: white;
}
.icon-google2{
font-size: 45px;color: white;
}
.loginf{
background-color:#3b5998;width:90%;box-sizing: border-box; margin-bottom: 30px;text-align: center;padding-top: 20px;cursor: pointer;
}
.loging{
   background-color:#dd4b39;text-align: center;padding-top: 20px;width:90%;box-sizing: border-box;cursor: pointer;
}
.login-form1 > li{
 
}
.login-button{
  width: 100%;margin-top: 15px;text-align: center;
}
.modal-footer{
  text-align: center;font-size: 16px;font-family: verdana;
}
.login-hr{
  float: left;width: 10%;font-size: 35px;text-align: center;padding-top: 90px;  font-family: verdana;font-style: italic;
}
.signup-button{
  width: 60%;text-align: center;margin-left:  20%;margin-right: 20%;margin-top: 2%;margin-bottom: 1%;
}

.mask1{
  display: inline-block;
}
/*
.mask{
  height:46em;
width: 100%;background-image: url('../images/logo.png');background-size: contain;background-repeat: no-repeat;margin-left: 25%;margin-right: 25%;display: inline-block;}*/
/*Homepage*/
/*Contact-us-page */
section.c1{
  background-image: url("../images/demo12.jpg");background-size:cover;background-repeat: no-repeat;  margin-top: -1.4em;position: relative; height:44em;
  background-attachment:fixed;

}

.c1div {

  position: absolute;left: 0%;top:20%;width: 100%;background-color:hsla(16, 25%, 38%, 0.51);float: none;text-align: center;height: 200px;padding-top: 20px;

}
.c1span {
font-family:inherit;font-weight:700;letter-spacing: 3px;font-size: 25px;color:white;padding-top: 10px;font-style: italic;
}
.c1ul{ 
  position: absolute;top:32%;width: 100%;box-sizing: border-box;padding-left: 39%;padding-right: 21%;
}
.contbtn1{
  position: absolute;top:43.5%;width: 100%;box-sizing: border-box;padding-left: 44%;padding-right: 21%;
}
.contbtn{
  background-color: white;color:black;height:35px;width:30%;
}

.c1 div p{
   font-family:verdana;color:slategrey;font-size:15px;display: none;
}
.c1li{
  margin-top: 0px;width: 100%;padding-top: 0px;height: 50px;padding-left: 0px;text-align: center;margin-left: 0px;
}

.c1 div ul li {
padding: 10px;float: left;padding-bottom: 0px;text-align: center;background-color: white;border-radius: 50%;box-sizing: border-box;margin-left: 2.5%; width:10%;
border:3px solid lightgrey;
}


.c1 div ul li a span{
  font-size: 24px;
}

li.imp.d3f {
    margin-left: 0px;
}
.c1 div ul li a:hover{
  list-style-type: none;text-decoration: none;
}
.c1 div ul li:hover{
  margin-top:5px;
background-color:rgba(158, 158, 158, 0.28);
}
.icon-fb3{

color:#3b5998;float: none;  font-size: 25px;
}
.icon-google3{
  color: #dd4b39;float: none;  font-size: 25px;
}
.icon-twitter3{
  color:#00aced;float:none;  font-size: 25px
}
.icon-rss3{
  color:#fb8f3d;float: none;font-size: 25px;
}

.c2{
  margin-top: 0px;position: static;background-color: #ffffff;width:100%;overflow:hidden;
}
.c2span {
font-family:arial;font-weight:700;letter-spacing: 3px;font-size: 22px;color:black;display: none;
}
.c2spandiv{
  margin-left: 20px;
}
.glyphicon-circle-arrow-down{
  font-size: 15px;
}
.c2form {
  width: 75%;box-sizing: border-box;display: inline-block;height: 650px;
}

.c2div{
}
.c2 p {
  font-family:verdana;color:white;font-size:14px;
}
.c2p{

  font-family:verdana;color:slategrey;font-size:15px;text-align: left;float: none;display: none;
}
.adimg{
  background-image: url("../images/demo11.jpg");background-repeat: no-repeat;width: 100%;height: 300px;background-size: cover;
}
.addressbar {
  width: 25%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    
    background-color: rgb(255, 253, 253);
    height: 650px;
    box-shadow: 16px 0px 16px 0px #9E9E9E;
    border-right: 1px solid rgba(158, 158, 158, 0.52);
    /* margin-right: 1%; */
    z-index: 9999;
   
}
.address {padding-left: 60px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.addiv{

    background-color: rgba(22, 24, 25, 0.96);height: 350px;width: 100%;
}
.address p{
  margin-bottom: 10px;margin-top: 10px;
}
.address span {

font-family:arial;font-weight:700;letter-spacing: 3px;font-size: 16px;color:white;
}

.chtml,.cbody{
overflow:hidden;
}

/* registration pages */

.e1{
 background-repeat: no-repeat;margin-top: -1.4em;height: auto;height: 44em;width: 100%;background-size: cover;background-attachment: fixed;
position: relative;}
.e1span{

font-family:arial;font-weight:700;letter-spacing: 3px;font-size: 22px;color:hsla(114,96%,99%,1);

}
.e1div{
  position: absolute;top:10%;left:4%;width: 100%;display: none;
}

.e1 div p{

   font-family:verdana;color:slategrey;font-size:15px;width: 45%;
}
.emibox{

   font-family:verdana;color:slategrey;font-size:15px;padding: 10px;border:1px solid white;
}
.e1span1{

font-family:arial;font-weight:700;letter-spacing: 3px;font-size: 18px;color:hsla(114,96%,99%,1);
}
.e1 div ul{
  margin-top: 20px;padding-left: 0px;
}
.e1 div ul li{
  color: slategrey;margin-top: 25px;
   font-family:verdana;font-size:15px;
}
.e1 div ul li span{
  margin-right: 15px;padding: 10px;border:1px solid slategrey;border-radius: 25%;color:hsla(114,96%,99%,1);
}

.ghostbtn{
  background-color: transparent;height: 40px;width: 130px;opacity: 1;margin-left: -10%;
}
.ghostbtn:hover{opacity: 1;}
.e1div2{
  float: none;text-align: center;margin-top: 7px;animation-name:ghost;animation-duration:0.8s; animation-delay: 1s;animation-iteration-count: infinite;
cursor: pointer;opacity:1; animation-direction: alternate;
}
.icon-angle-double-down{

  color:white;font-size: 30px;   margin-left: -10%;}
@keyframes ghost{
  from{margin-top: 7px;}
  to{opacity: 0.5;margin-top: 20px;}
}

.e2{
  text-align: center;float: none;margin-top: 85px;width: 100%;height: 25em;
}
.e2span{

font-family:arial;font-weight:700;letter-spacing: 3px;font-size: 20px;color:black;
}
.e2 p{


   font-family:verdana;color:slategrey;font-size:18px;
}
.e2span1{


font-family:arial;font-weight:700;letter-spacing: 3px;font-size: 16px;color:hsla(114,96%,99%,1);
}
.e2span2{

   font-family:verdana;font-size:14px;color: #333;font-weight: 600;
}
.e2div{
  margin-top: 65px; width: 100%;box-sizing: border-box;float: none;text-align: center;align-content: center;margin-left: 5%;margin-right: 8%;
}
.e2div2{
  width:14.5%;border:1px solid slategrey;height: 15em;text-align: center;float: left;display: none;margin-left: 3%;box-sizing: border-box;
}
.e2div1{
width: 100%;height: 5em;background-color: #243fb7;align-content: center;padding-top:1.7em;padding-bottom: 1.3em;
}
.e2div3{
  height: 10em;padding-top:2.3em;width: 100%;align-content: center;padding-bottom:1.7em;float: none;text-align: center;padding-left: 10px;box-sizing: border-box;
  padding-left: 5%;padding-right:5%;
}
.e3{

  text-align: center;float: none;margin-top: 85px;width: 100%;
}
.e3 p{


   font-family:verdana;color:slategrey;font-size:18px;
}
.e3div{
  margin-top:25px;
}
.e3div1,.e3div2,.e3div3,.e3div4,.e3div5,.e3div6{float: left;
  width: 30%;margin-left: 2.5%;border:1px solid #cddcdc;height: 20em;   margin-top: 50px; box-shadow: 9px 11px 13px #c4cece;text-align: center;

}
.front{
  text-align: center;width: 100%;height: 20em;display: table;
}

.back{

  width: 100%;height: 20em;   text-align: center;display: table;padding-left: 30px;padding-right: 30px;
}

.e3 div span{

   font-family:verdana;color:#333;font-size:18px;font-weight: 700;vertical-align: middle;display:table-cell;
}
.e3 div p{

   font-family:verdana;color:slategrey;font-size:14px;vertical-align: middle;display:table-cell;text-align: justify;
}

.e4{
  text-align: center;float: none;margin-top:135px;width: 100%;background-color:#edf2f5;padding-top: 50px;padding-bottom: 80px;box-sizing: border-box;

}
.e4 p{


   font-family:verdana;color:slategrey;font-size:18px;

}
.e4div1{
 width: 100%;margin-top:65px;
}
.e4div2{
  width: 20%;margin-left: 4%;height: 24em;background-color: white;float: left;border-radius: 10%;    box-shadow:  7px 7px 8px 0px #c4cece; 
}
.e4 div ul { padding-top: 20px;padding-left: 15px;text-align: left;padding-right: 15px;}
.e4 div ul li{
  color: slategrey;margin-top: 45px;
   font-family:verdana;font-size:15px;line-height: 2.3em;
}
.e4 div ul li span{

  margin-right: 15px;padding: 10px;border:1px solid teal;border-radius: 25%;color:darkslategrey;
}
.e5{

  text-align: center;float: none;margin-top: 85px;width: 100%;}
.e5 p{
  font-family:verdana;color:slategrey;font-size:18px;
}
.e5div{
  width: 100%;height: 32em;margin-top: 0px;box-sizing: border-box;display: inline-block;
}
.e5 div ul{
  width: 100%;box-sizing: border-box;height: 30em;margin-left: 1%;margin-right: 5%;
}
.e5 div ul li{float: left;
    border: 1px solid #9E9E9E;
 
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 3%;
    box-sizing: border-box;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10%;
       width: 12.5%;
}
.e5 div ul li span {
   font-family:verdana;color:darkslategrey;font-size:13px;text-align: left;float: none;
}



.e6{
  margin-top: 30px;float: none;text-align: center;background-color:white;
height: auto;padding-bottom: 20px;padding-top: 30px;
}
.e6 p{

  font-family:verdana;color:slategrey;font-size:18px;
}

.e6div{
  margin-top: 65px;padding-left:5%;padding-right: 5%;box-sizing: border-box;width: 100%;float: none;text-align: left;
}
.e6 ul{
  width: 100%;
}
.e6 ul li{
 padding: 15px 15px 15px 25px;
    color: rgba(0, 0, 0, 0.88);
    cursor: pointer;
    font-family: verdana;
    font-size: 16px;
    border-bottom: 0px;
    box-shadow: 5px 2px 5px -2px #4e5656;
    margin-top: 5px;
    background-color: white;
  
   border: 1px solid lightgray;

}

.e6hover{
     }
.e6li1 ,.e6li2,.e6li3,.e6li4,.e6li5,.e6li6,.e6li7,.e6li8,.e6li9,.e6li10,.e6li11,.e6li12,.e6li13,.e6li14{display: none;
    font-family: verdana;
    font-size: 14px;
    padding: 25px;
    color: black;
    box-shadow: 0px 1px 19px -2px #7d8182;
    padding-left: 45px;
    background-color: white;
    margin-top: 5px;
}

.e6 ul li span{
  padding:10px 15px 17px 5px;margin-right: 15px; 
}



/* to top icon */
.back-to-top {
 
background: none;
 
margin: 0;
 
position: fixed;
 
bottom: 6%;
 
right: 0;
 
width: 50px;
 
height: 50px;
 
z-index: 100;
 
display: none;
 
text-decoration: none;
 
background-color: #3b5998;padding:15px;padding-top: 8px;padding-left: 12px;
 
}
 
.back-to-top:hover{
  
}  
 
.back-to-top i {
 
  font-size: 30px;font-family: verdana;
 
}
.back-to-top1 {
 
background: none;
 
margin: 0;
 
position: fixed;
 
bottom: 6%;
 
right: 0;
 
width: 50px;
 
height: 50px;
 
z-index: 100;
 
display: none;
 
text-decoration: none;
 
background-color: #3b5998;padding:15px;padding-top: 8px;padding-left: 12px;
 
}
 
.back-to-top1:hover{
  
}  
 
.back-to-top1 i {
 
  font-size: 30px;font-family: verdana;
 
}
.icon-move-up{
  color: white;
}
 
/* to top icon */
html,body{
  overflow-x: hidden;
}
.e1div1{
  float: none;text-align: center;margin-top: 35px;
}
.e4div3{
  background-color: ;float: none;display: inline-block;margin-left: 0px;
}
.subscribe {
    display: none;
    height: 204px;
    width: 604px;
    position: fixed;
    top: 0%;
    left: 25%;
    background-color: #ffffff;
    /* padding-bottom: 10px; */
    z-index: 999999;
    box-shadow: 3px 3px 19px #130f11;
    border:2px solid slategrey;
}
.subscribe1 {
    display: none;
    height: 204px;
    width: 604px;
    position: fixed;
    top: 0%;
    left: 25%;
    background-color: #ffffff;
    /* padding-bottom: 10px; */
    z-index: 999999;
    box-shadow: 3px 3px 19px #130f11;
       border:2px solid slategrey;
}

.subheader {
    color: #607D8B;
    font-family: -webkit-pictograph;
    font-size: 16px;
    float: none;
    font-weight: 600;
    /* letter-spacing: .2px; */
    /* text-align: center; */
} 
.regheader{
  color: #607D8B;
    font-family: -webkit-pictograph;
    font-size: 16px;
    float: none;text-align: center;
    font-weight: 600;

}

.sub-button {
    border: none;
    color: white;
    /* font-style: italic; */
    margin-top: 12.5px;
    background-color: #607D8B;
}
.sub-button:hover{
color: white;   background-color: #3f5058;
}
.sub-form {
    margin-top: 10px;
}
.sub-close{
  color: white;border:none;background-color: #607D8B;margin-top: 12.5px;margin-left: 12.5px;
}
.sub-close:hover{

color: white;   background-color: #3f5058;
}

.mask6{
  pointer-events: none;
}

.sub-img {
    opacity: 1;
    height: 180px;
    width: 210px;
    position: static;
    background-image: url(../images/demo5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    /* box-shadow: 17px -1px 18px 0px #607D8B; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(158, 158, 158, 0.06)
    /* box-shadow: 17px -1px 18px 0px #607D8B; */
}
.imgrgt {
    display: inline-block;
    width: 370px;
    padding: 20px;
    padding-top: 10px;
    background-color: #efefef;
    height: 200px;
}

.sub-imgspan1{    font-family: cursive;
    font-size: 33px;
    font-style: italic;
}
.sub-imgspan2{font-family: cursive;
    font-size: 22px;
    font-style: italic;
}
.subf{
  height: 200px;
}

.tbody{
background-image: url("../images/thanks.jpg");height: 43.1em;width: 100%;background-repeat: no-repeat;background-size: cover;position: relative;float: none;text-align: center;
 padding-top: 170px;margin-top: -1.4em;}
.tbodydiv1{
 width: 100%;background-color: rgba(0, 0, 0, 0.53);padding-top: 13px;margin-bottom: 20px;
}
.tbody button{
  width: 150px;
}
.tbody span{
  font-family: verdana;font-size:24px;color:white;font-style: italic;
}

.reg-close{
  color: white;float: right;background-color:  rgba(173, 8, 64, 0.86);border:none;
}
.reg-close:hover{
  color: black;
}

.registration{

  display: none;height: 400px;width: 800px;position: fixed;top:15%;left:20%;background-color: white;padding-bottom: 20px;
  z-index: 999999;       box-shadow: 3px 3px 19px #130f11;
}

.reg-content{
  height: 380px;
}
.reg-button{

  background-color:  #E91E63;border:none;color: white;font-style: italic;
}

.reg-button:hover{

  background-color:rgba(173, 8, 64, 0.86) ;color: white;font-style: italic;
}

.img-reg{background-image: url(../images/w2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    /* margin-left: 20px; */
    margin-top: 20px;
    width: 40%;
    float: left;
    box-shadow: 7px 9px 16px 0px #9E9E9E;
}

.regf{
  height: 100%;width: 60%;display: inline-block;box-sizing: border-box;padding-left:5%;padding-right: 5%;padding-top: 1%;padding-bottom: 2%;
}

.t{
  display: inline-block;
}

@media screen and (min-width:1650px){
  .carousel-inner{
    display: none;
  }
  .carousel-indicators{
    display: none;
  }
  .d5c{
    display: none;
  }
  .carousel{    background-image: url(../images/demo5.jpg);
    height: 80%;
    width: 30%;margin-left: 100px;
    margin-top: 30px;
    
    background-size: cover;
    background-repeat: no-repeat
  }
} 

.reg-close1{
  display: none;
}
.gh1{
  display: none;
}


/* End of home page , contact us page , registration pages , subscription box , registration box */



/* Start of downloads , students */

.z1a{
       margin-left: 10%;
    margin-right: 10%;
    margin-top: -1.6%;
    padding: 5%;
   
    /* border: 1px solid slategray; */
    background-color: white;display: none;
}
.z1b{font-size: 19px;
    color: white;
    font-family: verdana;
    float: none;
    text-align: center;
    background-color: #607D8B;
    padding: 10px 0px;
}
.z1a>p{

font-size:15px; color:black;font-family: verdana;float: none;text-align: justify;
}
.z1ul{
margin-top: 250px;
}

.x1div{

       margin-left: 10%;
    margin-right: 10%;
    margin-top: -1.6%;
    padding: 5%;
   
    /* border: 1px solid slategray; */
    background-color:white;
}
.x1table{
  width: 100%;    box-shadow: 2px 3px 10px 2px #c3c1c1;
}
.x1th{
  float: none;
}

.x1table,.x1th{
  border:1px solid lightgrey;
}

.x1td{
  border-right: 1px solid lightgrey;
}

.x1th{
 
}
.x1td{
  padding: 5px;padding-left: 30px;
}

.x1b{
  font-size: 22px;
    color: #242438;
    font-family: verdana;
    float: none;
    text-align: center;
    
}

.x1th1{    text-align: center;
    font-size: 17px;
    background-color: #08181f;
    color: #eaeaea;padding:10px 0px;
}

.x1th2{
  font-family: verdana;font-size: 15px;  color: black;
    background-color: rgba(185, 186, 197, 0.66);
    padding:10px 0px;padding-left: 30px;
}
.x1th3{
  font-family: verdana;font-size: 14px;  color: black; padding:10px;padding-left: 30px;
}
.x1td{
  color: black;
  font-family: verdana;font-size: 13px;
}

.x1td > a{
list-style-type: none;text-decoration: none;
}
.x1td > a:link , .x1td > a:active , .x1td > a:visited {
  color: black;
}
.x1td:hover{
background-color: rgba(158, 158, 158, 0.26);
}

.x1td >  a:hover{
  color:darkslategrey;
}

.x2tr{
  height: 50px;width: 100%;
}