.col-sm-2{
		padding-bottom: 1em;
	}

		.content{
		margin-top: 6em;
	}
	.pa{
		font-family: verdana;font-size: 16px;
	}
	a:hover{
		text-decoration: none;
	}
	
	.base{
	position:absolute;height:30em;width:100%;z-index:.5;width:100%;display: inline-block;float: left;
	}
	.f{ width:100%;margin-left:55em;padding-top:2em;float:left;position: absolute;

	}
	.t1{
color:white;font-family:sans-serif;font-size:20px;display: inline-block;z-index:1;position:relative;font-variant: 600;letter-spacing: 2px;padding-top: 3em;padding-right: 3em;
	}
	.t{

float: left;color:black;margin-top:4em;padding-right: 8px;display: inline-block;z-index:1;position:absolute;font-style: italic;
margin-left:15em;
	}
  
body{overflow-x: hidden;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a >img 
{width:80%;
	height:30em;z-index: 1;
}

	

	.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu{
height:20em;width:60em;background-color:white;margin-left: -8em;font-size: 15px;
}

.dnav{
color:black;font-family: verdana;margin-left: 2em;
}
li{
	list-style-type: none;text-decoration: none;
}
.qalink:link{
	color:grey;
}

.qalink:visited{
	color:grey;
}
.qalink:active{
	color:grey;
}
.qalink:hover{
	color:white;
}
video {
 width:100%;
}
.vid{height:40em;overflow:hidden;margin-top:-15em;position: absolute;}
.slide{
	position: relative;
}
.slidet{
	font-size: 16px; font-family:cursive;  letter-spacing: 2px; font-variant:small-caps;}

.slidet1{
	font-size: 26px; font-family:cursive;  letter-spacing: 2px; font-variant:small-caps;}

.level-2{
	height:22em;background-color:;padding-top: 2em;margin-left: 1em;width: 50%;display: inline-block;float: left;
}
.l2{
	height:25em;width:50%;display: inline-block;float: left;
}
.side{
padding-bottom:15px;
}
.carousel-caption{color: black;font-family:arial;font-weight:700;letter-spacing: 3px;margin-left: -16em;}
.side-nav{
	display: inline-block;float: left;margin-left: -12.9em;margin-top: 8em; 
}
.snav{
margin-bottom: 20px;
}
*{
	box-sizing: border-box;
}
#loader {
  position: absolute;
  left: 55%;
  top: 10%;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin: 105px 0 0 -140px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  
}